@charset "utf-8";
/* CSS Document */

body{background:#ececec}
.green{color:#7abb15}
.org{color:#ff7800}
a:hover{text-decoration:none}
.content{width:1200px;margin:0 auto;}
.content .left,.content .right{float:left;display:inline}
.content .left{width:860px;background:#fff;padding:10px 15px;}
.content .right{width:290px;margin-left:20px;}


.eva-list li:after{content:"";display:table;clear:both}
.eva-list li{ *zoom:1;}

.star{ float:left;width: 68px; height: 12px; position: relative; font-size: 0; line-height: 0; vertical-align: baseline;}
.star-grey{ background-position: -20px -213px;}
.star-light{background-position: -20px -199px;}

/* info-list */
.tab-1{text-align:center;margin-top:10px;height:37px;line-height:37px;border:1px solid #ececec;position:relative;margin-bottom:10px;}
.tab-1 ul{position:absolute;left:0;top:0;}
.tab-1 ul li{float:left;display:inline;height:37px;width:95px;border-right:1px solid #ECECEC;font-size:16px;position:relative;}
.tab-1 ul li.current a{color:#59ad00;}
.tab-1 ul li.current span{position:absolute;display:block;height:1px;width:95px;overflow:hidden;background-color:#7abb15;left:0;bottom:-1px;}
.tab-1 ul li a{display:block}
.tab-1 ul li a:hover{text-decoration:none;color:#59ad00;}
.result-img{display:block;width:523px;height:216px;margin:0 auto;}

.iconSprite{background:url(../img/iconSprite.png) no-repeat}
.iconSprite-2{background:url(../img/iconSprite-2.png) no-repeat}
.list-title{position:relative;padding-left:15px;height:55px;line-height:55px;border-bottom:1px solid #ececec;margin-bottom:10px;}
.list-title .con{text-indent:7px;float:left;font-size:22px;font-weight:bold;position:relative;color:#333}
.list-title .title-bg{width:4px;height:21px;float:left;display:block;background-position:-112px -5px;margin-top:18px;}
.list-title .title-nav,.list-title .title-tab{font-size:15px;text-align:center;height:30px;line-height:30px;float:left}
.list-title .title-tab{float:right}
.list-title .title-nav{left:125px;top:2px;}
.list-title .title-nav li,.list-title .title-tab li{float:left;display:inline;width:64px;}
.list-title .title-nav li a,.list-title .title-tab li a{display:block}
.list-title .title-nav .cur a{color:#fff;background:#7abb15;}
.list-title .title-tab,.list-title .title-nav{margin-top:12px;}
.list-title .title-tab li{border:1px solid #ececec; font-size:14px;}
.list-title .title-tab .cur{border:none;}
.list-title .title-tab .cur a{color:#fff;background:#ff7800;height:32px}

.list-title-tabs{position:absolute;right:0;}
.list-title-tabs li{float:left;padding:0 20px;font-size: 18px;position:relative;}
.list-title-tabs li.now a{color: #59AD00}
.tab-1 ul li.now{border-bottom:1px solid #59ad00;}
.div-out .game-cate{padding:0 0 10px 0;color: #5c5c5c;font-size:16px}
.game-spe-lx{width: 270px;}
.game-spe-lx li{line-height:34px;border:1px solid #eee;background-color: #fafafa;width:78px;text-align: center;float:left;margin:0 10px 10px 0;cursor:pointer;}
.game-spe-lx li a{display:block;}
.game-spe-lx li>p{line-height:17px}
.game-spe-lx li.cur{border-color:#404952;background-color: #404952;color: #fff}
.game-spe-lx li.first a{color:#fff;}
.game-spe-lx li.first div dl dd a{color:#555;}
.game-spe-lx li.first div dl dd a:hover{color:#7abb15;}
.game-spe-lx div.role-cate{position:absolute;left:-15px;top:46px;z-index:999;padding:15px;padding-bottom:0;margin:0 10px 10px 0;width:258px;background-color: #fffcf8;border:1px solid #dde3d3;display: none;}
.game-spe-lx li span{display:none;position:relative;}
.game-spe-lx li span:before{content:'';display:block;width: 23px;height:12px;background:url(../img/iconSprite.png ) no-repeat  -265px -254px; position:absolute;top:1px;left:26px;z-index:9999;}
.game-spe-lx div.role-cate dl{width:270px;}
.game-spe-lx div.role-cate dd{float:left;margin:0 10px 10px 0;width:78px;text-align: center;line-height:28px;border:1px solid #eee;background-color: #fff}
.game-spe-lx div.role-cate dd.now{background-color:#7abb15;border-color:#7abb15;color: #fff}
.game-spe-lx div.role-cate dd.now a{color: #fff!important;}
.game-spe-lx div.role-cate dd a{display:block;}

.border-out,.border-out-2,.li-out{position:absolute;left:-1px;top:-1px;border:2px solid #7abb15;z-index:3;display:none}
.info-list{margin-bottom:20px; margin-left:-10px}
.info-list .info-title{line-height:31px;background:#fff; height:31px;}
.info-list .info-title .type{font-size:15px;margin:0 10px;font-weight:bold}
.info-list .info-title .mk-date{color:#999999;border-left:1px solid;padding-left:7px}
.info-list li{position:relative;float:left; width:278px; height:313px; display:inline;margin-left:10px; border:1px #ececec solid;}
.info-list li .border-out{width:276px;height:312px;display:none}
.info-list li .border-in{position:relative; z-index: 4; background-color:#fff; margin:0 1px;}

.info-list li.first,
.app-list li.first,
.div-out ul li.first,
.li-games li.first,
ul li.first{margin-left:0}
.info-list li.first { margin-left:10px; margin-bottom:10px}

.info-thumb{ display:block;position:relative}
.info-list li .play-btn{display:block;width:30px;height:20px;position:absolute;right:10px;top:10px;;background-position:-216px 0}
.info-list .game-img{width:275px;height:180px;display:block;margin:0 auto}
.info-list li .desc{padding:5px;font-size:16px;font-weight:bold;line-height:26px;height:52px;overflow:hidden}
.info-list .desc i{ display: inline-block; width: 0; height: 100%; line-height: 0; font-size: 0; vertical-align: middle;}
.info-list .desc a{ display: inline-block; vertical-align: middle; width: 260px;}
.info-list li .author{height:40px;line-height:40px;background:#f5f5f5;padding:0 5px;position:relative;}
.info-list li .author span { padding-left:4px}
.info-list li .head-img{width:30px;height:30px;float:left;position:relative;left:5px;top:6px;*top:4px; margin-right: 4px;}
.info-list li .author .name{float:left;margin-left:8px;}
.info-list li .author .h-img-out{position:absolute;top:6px;*top:1px;_top:6px;left:10px;width:30px;height:30px; padding-left:0px;z-index: 33}
.info-list li .author .h-img-out img { vertical-align: baseline}
.info-list li .author .au-r{float:right;_padding-top:13px}
.info-list li .author .au-r .au-icon{width:16px;height:16px;background-position:-195px 0;display:inline-block;vertical-align:-3px;*vertical-align:0}
.retri-author{ float: left;}
.re-tit-tip .retri-author{ float: none;}
.info-list .curr .info-title{background:#7abb15}
.info-list .curr .type,.info-list .curr .mk-date{color:#fff}


.adver{width:290px;height:230px;margin-bottom:20px;}
.right .right-div{background:#fff;margin-bottom:20px}
.right-div .change{float:right;margin-right:10px;line-height:55px;_padding-top:14px}
.right-div .ch-icon{display:inline-block;vertical-align:-8px;*vertical-align:-3px;width:22px;height:22px;background-position:-151px 0;margin-right:3px}
.right-div .change .hover{background-position:-173px 0}
.authors,.eva-list {border-top:1px solid #ECECEC;padding-bottom:20px;}
.authors li{padding:15px;padding-bottom:0;overflow:hidden}
.authors li .au-info{position:relative;overflow:hidden}
.authors li .a-h-img{position:relative;z-index:1;width:60px;height:60px;float:left}
.authors li .a-h-out{position:absolute;left:0;top:0;_top:-1px;width:60px;height:60px;z-index:2;display:inline-block}
.authors .detail{float:left;display:inline;overflow:hidden;margin-left:10px;width:190px;}
.authors .detail .au-name{font-size:16px;color:#555555;font-weight:bold;white-space:nowrap;text-overflow:ellipsis;width:190px;overflow:hidden}
.authors .detail .au-desc{color:#7e7e7e}
.authors .latest{margin-top:10px;border-top:1px dotted #ECECEC;border-bottom:1px solid #ECECEC;line-height:40px;height:40px;clear:both;overflow:hidden;background:#f9f9f9}
.type-1,.type-2,.type-3,.type-4{display:inline-block;width:40px;height:20px;line-height:20px;color:#fff;text-align:center;float:left;margin:10px 0;margin-right:5px;}
.authors .latest .type-1{background:#707e84}
.authors .latest .type-2{background:#7abb15}
.authors .latest .type-3{background:#58c8d9}
.authors .latest .type-4{background:#ef6269}
.authors .latest .la-ti{float:left;display:inline-block;font-size:14px;color:#555555;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:260px;}

.eva-div .eva-list{padding:0 10px;padding-bottom:20px;}
.eva-list li{border-bottom:1px dotted #ECECEC;padding:7px 0;}
.eva-list .eva-con{color:#555555; font-size:14px;float:left;width:244px; padding-left:10px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.eva-list .eva-con:hover{color:#59ad00;font-weight: bold;}
.eva-list .num{float:left;border-right:1px solid #e0e0e0;padding:0 5px;line-height:22px;color:#bebebe; font-weight:bold}
.eva-list .first{color:#f43535}
.eva-list .second{color:#ff6600}
.eva-list .third{color:#ff9c00}
.eva-list .fourth{color:#404952}

/* app-list*/
.app-list{margin-bottom:10px;}
.app-list .list-li{position:relative;float:left;width:420px;;display:inline;margin-left:15px;padding:1px;background-color:#ececec;}
.app-list .list-li .border-out-2{width:420px;height:100%;-webkit-box-shadow: 0px 0px 5px #7abb15;box-shadow: 0px 0px 5px #7abb15;-moz-box-shadow: 0px 0px 5px #7abb15;}
.app-list .list-li .list-in{background:#fff;position:relative;padding:10px;overflow:hidden;height:143px;z-index:4;}
.app-list .list-li .list-left{float:left;position:relative;margin-right:10px;width:107px}
.app-list .app-img-out{position: relative;width:100px;height:100px; display:block;}
.app-list .app-img{display:block;width:100px;height:100px;}
.app-list .down-btn{display:block;cursor:default;width:100px;height:36px;text-align:center;line-height:36px;color:#fff;background:#ff6e00;font-size:16px;font-weight:bold;margin:7px 0}
.app-list .de-off-btn{background:#1fba77;}
.star-bg{width:68px;height:12px;background-position:-110px -42px;margin:5px auto;overflow:hidden}
.stars{height:13px;background-position:-110px -30px;}
.other-version,.others-v{position:relative;z-index:56;padding:0 12px;color: #908e8e;font-size: 16px;background: #fff;line-height:30px;}
.other-version,.others-v a{cursor:pointer;}
.other-version span{display:block;content: '';position: absolute;right:10px;top:7px;background:url(../img/iconSprite.png ) no-repeat -139px -131px;width: 19px;height: 10px;}
.other-version:hover span{background-position:-139px -122px}
.others-v{position:absolute;z-index:999;left:-1px;top:194px;background: #fafdf6;width:400px;padding:0 10px;display:none;-webkit-box-shadow: 0px 1px 5px #7abb15;box-shadow: 0px 1px 5px #7abb15;-moz-box-shadow: 0px 1px 5px #7abb15;border: 2px solid #7abb15;border-top:none;}
.others-v p{padding:9px 0;color: #606060;overflow: hidden;border-bottom:1px dotted #d0d0d0}
.others-v p span{margin:0 10px;color: #a9a8a8}
.others-v p a{display:block;float: right;width: 68px;height: 28px;border:1px solid #ff7800;line-height: 28px;text-align: center;color: #ff7800}
.others-v p a.de-off-btn-o{border-color:#1fba77;color:#1fba77;}
.others-v p a:hover{background: #ff7800;color: #fff}
.others-v p a.de-off-btn-o:hover{background: #1fba77}
.others-v p.no-border{border:none;}


.app-list li.curr .border-out-2,
.app-list li.curr .app-h,
.app-list li.curr .g-list-1,.app-list li.curr .mark a{display:block}
.app-list li.curr .g-name a { color:#59ad00}

.app-list li.curr .app-v{display:none}

.app-list li .border-out-2,
.app-list li .app-h,
.app-list li .g-list-1{display:none}
.down-ac{color:#888888;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.app-list .red{color:#ed4b39;}
.mark .red{ display: block; height: 42px; font-family:impact;}
.app-list .down-ac span.red{;margin-right:5px;}
.app-list .update-time{color:#888888;line-height:20px;text-align:center}
.app-list .up-icon-1,.app-list .up-icon-2{height:19px;display:inline-block;vertical-align:text-bottom;margin-left:2px;}
.app-list .up-icon-1{width:31px;background-position:-179px -29px}
.app-list .up-icon-2{width:52px;margin-left:-2px;background-position:-211px -29px}
.app-list li .list-right{float:right;height:143px;width:283px;position:relative;overflow:hidden; zoom:1;}
.app-list .sign{width:49px;height:50px;position:absolute;top:0;left:0;z-index:55;}
.app-list .sign-1{background-position:0px 0px;}
.app-list .sign-2{background-position:-53px 0px;width:48px}
.app-list .sign-3{background-position:-105px 0px;}
.list-right p{line-height: 20px;}
.list-right p.down-ac{width:100px;overflow:hidden;}
.list-right .g-name,
.list-right .g-desc {height: 20px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.list-right .g-name a,.li-in-r .g-name a{font-size:16px;color:#333333;font-weight:bold}
.list-right .g-desc,.li-in-r .g-desc {width: 220px;color:#6d6d6d;}
.list-right .g-type,.list-right .intro-t{font-size:12px;}
.list-right .g-detail,.li-in-r .g-detail{color:#888}
.list-right .g-intro{ color:#888;height:53px;overflow:hidden;word-break:break-all;line-height:18px;}
.list-right .tem{display:inline-block;width:30px;height:13px;background-position:-89px -55px;margin-left:10px;vertical-align:-1px}
.list-right .g-cp{color:#333;padding: 8px;line-height: 17px;background: #fff4e2;margin-top: 5px;display: inline-block;}
.list-right .mark{position:absolute;left:250px;top:14px;}
.list-right .mark-s1{top:16px;}
.list-right .tem-d {position:absolute; right:102px; top:62px}
.list-right .mark{display:none;}
/*.list-right .tem-d{top:26px;}*/
.list-right .mark .big{font-size:28px;}
.list-right .mark .small{font-size:22px;}
.list-right .mark a{position:relative;width:26px;height:25px;background-position:-29px -30px;}
.list-right .mark a:hover,.list-right .mark .curr{background-position:-84px -30px}

.right-ul-bd{position:relative;border-bottom:1px dotted #cecece;margin-bottom:10px}
.right-div{background:#fff}
.right .div-out{padding:15px}
.right .div-out .game-lx{overflow:hidden;margin-bottom:10px;width:270px;}
.div-out .game-lx li{float:left;margin-right:10px;margin-bottom:5px;}
.div-out .game-lx li a{display:block;width:78px;height:28px;border:1px solid #eeeeee;background-color:#fafafa;color:#666666;text-align:center;line-height:28px;}
.div-out .game-lx li.cur a{background-color:#404952;border-color:#404952;color:#fff}
.div-out .game-lx li.cur a:hover{color:#fff}
.div-out .game-lx li a:hover{color:#59ad00}
.div-out .lang{line-height:30px;font-weight:bold;color:#999999}
.list-img{width:290px;height:230px; overflow: hidden; position: relative;}
.list-img img{ display:block;width:290px;height:230px;}
.div-out .game-lx li a.game-unclick{cursor:default;background:#dedede}
.div-out .game-lx li a.game-unclick:hover{color:#666;font-weight:normal;}
/*开服表*/
.module{width:290px;background:#fff;margin-bottom:15px;}
.module-cont-title{line-height:35px;padding:0 10px;background:#f36161;}
.module-cont-game p.other{background:#45bea6;}
.module-cont-title span{float:left;font-size:14px;color:#fff;}
.game-time,.game-state{width:85px;text-align:center;}
.game-name{width:100px;}
.module-cont-list{padding:0 10px;padding-bottom:15px;}
.module-cont-list li a{display:block;line-height:40px;border-bottom:1px solid #eee;}
.module-cont-list li a span{float:left;height:40px;overflow:hidden;}
.module-cont-list li a span.spe-time{color:#ed4b39;}
.module-cont-list span.game-time{color:#555;}
.module-cont-list span.game-state{color:#888;}
.module-more{float:right;padding:16px 0;color:#888;font-size:14px;}
.module-more:hover{text-decoration:underline;font-weight:normal;}

.recom-list{padding:0 15px;padding-bottom:15px;}
.recom-list li{position:relative;overflow:hidden;padding:7px 0;height:65px}
.recom-list .li-img-out{width:64px;height:64px;background:url(../img/icon-4.png) no-repeat center center;position:absolute;top:0px;left:0}
.recom-list .game-img-2{width:64px;height:64px;border-radius:10px}
.recom-list .recom-img{display:block;position:relative;width:64px;height:64px;left:0;_top:-64px}
.recom-list .recom-detail{float:right;margin-left:10px;width:185px;}
.recom-list .recom-detail .btns{position:absolute;top:37px;_top:38px;right:0}
.recom-list .recom-detail .btns a{display:inline-block;float:left;width:26px;height:25px;margin-left:2px;}
.recom-list .recom-detail .btns .down{background-position:0 -30px;}
.recom-list .recom-detail .btns .clle{background-position:-29px -30px}
.recom-list .recom-detail .btns .down:hover{background-position:-55px -30px;}
.recom-list .recom-detail .btns .clle:hover{background-position:-83px -30px;}
.recom-list .recom-name{display:block; height:22px; overflow:hidden; word-break:break-all;font-size:14px;font-weight:bold;color:#504f4f}
.recom-list .recom-name:hover{color:#59ad00;}
.recom-list .star-bg{margin-left:0}
.recom-list .recom-lx{color:#999}

/* new-game-list */
.cont-wrap{width:1200px;margin:0 auto;overflow:hidden;background:#fff;position:relative;}
.cont-wrap .g-game-list{position:relative;float:left;margin-left:15px}
.cont-wrap .time-ul{float:left;position:relative;width:85px;margin-left:10px;margin-top:33px;height:100%}
.g-game-list .game-li{overflow:hidden;clear:both}
.time-ul .time-line{width:4px;height:100%;background-color:#e2e2e2;position:absolute;top:49px;left:69px;}
.time-ul li{width:85px;position:relative;overflow:hidden}
.time-ul li .year{font-size:12px;color:#999999}
.time-ul li .month{font-size:20px;color:#333333}
.time-ul li.curr .month{font-size:28px;font-weight:bold}
.time-ul li.curr .year{font-size:16px;font-weight:bold;}
.time-ul li.curr .date{margin:20px 0;margin-top:10px}
.time-ul li.curr .hot-1{display:block}
.time-ul li.big{height:164px;}
.time-ul li .date{float:left;margin:10px 0;display:block;width:62px;text-align:center}
.time-ul li .hot-mon{display:block;width:20px;height:20px;background:url(../img/iconSprite.png) no-repeat;position:absolute;left:61px;top:30px;z-index:55}
.time-ul li .hot-1{background-position:-32px -105px;z-index:60;display:none}
.time-ul li .hot-2{background-position:-60px -105px;}
.g-game-list .game-li .g-li-r{overflow:hidden}
.g-game-list li.small{height:60px;}
.g-game-list li.small .year{font-size:12px;}
.g-game-list li.small .month{font-size:20px;}
.g-game-list li.small .hot-mon{top:20px;}
.g-game-list li.small .date{margin:7px 0}
.g-li-r a.li-btn-l,.g-li-r a.li-btn-r{display:block;width:19px;height:39px;float:left;margin:52px 0;}
.g-li-r a.li-btn-l{background-position:-39px -134px}
.g-li-r a.li-btn-l:hover{background-position:-1px -134px}
.g-li-r a.li-btn-r{background-position:-58px -134px}
.g-li-r a.li-btn-r:hover{background-position:-20px -134px}
.move-div{margin:0 10px;float:left;width:1020px;height:144px;padding-bottom:20px;overflow:hidden;position:relative;display:inline}
.li-games{position:absolute;left:0;width:10000px;}
.li-games li{background-color:#ececec;padding:1px;width:328px;height:142px;position:relative;float:left;margin-left:15px;}
.li-games li.curr .li-out{display:block}
.li-games li.curr,.info-list li.curr{box-shadow: 0px 0px 5px #7abb15;}
.li-games .li-out{width:326px;height:140px;left:0;top:0;}
.li-games .li-in{padding:10px;width:306px;height:120px;background-color:#fff;overflow:hidden;position:relative;z-index:4;left:1px;top:1px;}

.li-in .li-in-l{float:left;margin-right:10px;}
.li-in .li-in-l img{width:100px;height:100px}
.li-in .li-in-l p{text-align:center;line-height:24px;}
.li-in .li-in-r{float:left;width:195px;}
.li-in .li-in-r .rel-time{line-height:35px;height:35px;}
.li-in .li-in-r .rel-time span{float:left;}
.li-in .li-in-r .rel-time .impac{font-family:impact;font-size:16px;color:#404952;font-weight:bold}
.li-in-r .rel-icon{width:32px;height:29px;display:inline-block;vertical-align:-3px;background-position:0px -105px;text-align:center;
font-style:normal;font-size:24px;line-height:30px;color:#fff;margin-left:5px;font-family:impact}
.li-in-r .rel-time .colle{float:right;margin:7px 0;}
.colle{display:none;width:26px;height:25px;background-position:-29px -30px;}
.colle:hover{background-position:-84px -30px;}
.li-games li.curr .colle{display:inline-block}

/* no-result */
.cont-1,.cont-2,.cont-3{width:840px;margin:0 auto;overflow:hidden;}
.cont-1{border-bottom:1px dashed #dedede;padding-bottom:45px;padding-top:68px;}
.cont-1 .f-0-f{margin-right:40px;float:right;width:629px;height:241px;background:url(../img/404-img.jpg) no-repeat;}
.cont-2{height:225px;text-align:center;padding-top:20px;}
.cont-2 p{line-height:50px;font-weight:bold;}
.cont-2 .sear-icon{background-position:-81px -107px;display:inline-block;height:16px;width:16px;margin:0 3px;}
.cont-2 .hold{font-size:22px;}
.cont-2 .rew{font-size:16px;color:#999999;}
.cont-3{width:860px;}
.cont-3 .no-result{width:642px;height:212px;background:url(../img/no-result-img.jpg) no-repeat;margin:30px 100px 40px 0;float:right;}

/* 列表页新增筛选 */
.fl{float:left;}
.select-box{width:850px;border:1px solid #ececec;padding:6px 4px;}
.select-box ul{width:770px;margin-left:-4px;}
.select-box ul li{margin-left:4px;margin-bottom:4px;}
.select-box ul li a{display:block;padding:5px 13px;border:1px solid #7abb15;color:#7abb15;}
.select-box ul li a:hover{font-weight:normal;}
.select-box .cancel-btn{background:#9fa4a8;color:#fff;text-align:center;width:82px;line-height:30px;}
.select-box ul li a i{display:inline-block;background:url(../img/sprite.png) 1px -377px no-repeat;width:12px;height:12px;margin-left:8px;vertical-align:-1px;}