.tree{font-size:12px;font-family:宋体;padding:4px 20px 20px 20px;width:280px;}
.tree a,.tree li em.no_link{vertical-align:baseline;padding-top:3px;padding-top:0px\9; padding-right:4px;padding-bottom:3px;margin-left:5px;text-indent:5px;display:inline-block;;font-size:12px;height:16px\9;line-height:22px\9;*line-height:20px;}
.tree li em.no_link{color:#aaa;}
.tree a, .tree a:hover{text-decoration:none;color:#000;}
.tree a:hover,.tree a.current{background-color:#62b5ff;color:#fff;}/* 悬浮背景*/
.tree-selected{background-color:#229ee5;border:1px solid #1773cb;} /* 点击背景*/
.tree li{white-space: nowrap;*white-space: normal;word-break:break-all; word-wrap:break-word;padding-top:1px;overflow:hidden;}
.tree li span{cursor:pointer;float:left;float:none\9;}
.tree li .selected,.tree li em.selected,.tree li a.selected{color:red;}
.tree-icon {background:url(TreeStandard.png) no-repeat;width:18px;height:20px;display:inline-block;vertical-align:middle;}/*公共调用icon*/
.tree li ul{padding:0px 0px 0px 14px;}
.tree-checkbox{width:13px;height:13px;cursor:pointer;}
.tree-expand-open {background-position:-95px -17px;}/*默认打开 - 中间*/
.tree-root-expand {background-position:-77px -1px;}/*上*/
.tree-last-expand {background-position:-95px -35px;}/*下*/
.tree-expand-close {background-position:-77px -35px;}/*默认 关闭 + 中间*/
/*.tree-line{background:url(img/line_conn.gif) repeat-y;} 虚线 竖*/
.tree-last-note{background-position:-62px -36px;}/*虚线 最后元素 两个分支*/
.tree-note{background-position:-62px -20px;} /*虚线 默认元素 三个分支*/
.tree-root-note {background-position:0px 0px;}/*虚线 顶级元素 隐藏*/
.tree input{margin:0 0 0 5px;}